body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #efefee;
}

*:focus {
  outline: none;
}

.container {
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  color: white;
  width: 100%;
  background-image: linear-gradient(
      rgba(15, 27, 42, 0.8),
      rgba(15, 27, 42, 0.8)
    ),
    url("/images/background/header_pattern_svg.svg");
  border-bottom: 3px solid #5ec7e6;
  position: relative;
  justify-content: space-between;
}

.imgheader {
  margin-left: 20px;
}

.header ul {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-bottom: 1rem;
}

.header ul li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  margin: 10px 20px 0px 20px;
}

.header ul li a {
  text-decoration: none;
  cursor: pointer;
}
.collection {
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: auto;
  margin: 0 50px;
  justify-content: space-between;
  margin-top: 1rem;
}
.course {
  font-weight: 600;
  font-size: larger;
  display: flex;
  justify-content: space-around;
  height: 7vh;
  align-items: center;
  margin: 15px 50px 5px 50px;
}
.course span {
  font-weight: bolder;
  font-size: x-large;
}
.in {
  background: #8cdc96;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.in1 {
  border-bottom: 3px solid black;
}
.in img {
  padding: 0.4rem;
}

.course select {
  border: none;
}

.cs {
  display: flex;
}
.c4 {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgb(207, 204, 204);
}
.c4 ul {
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}
.c4 p {
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}
.cs select {
  border: none;
  background-color: #efefee;
  margin-right: 1rem;
  border-bottom: 1px solid rgb(207, 204, 204);
  font-size: large;
  padding-bottom: 0;
  margin-left: 0.4rem;
  padding-left: 0;
  width: 10rem;
}
.c4 ul li {
  list-style: none;
}
.sorr {
  margin-right: 0.3rem;
}
.sorr span {
  margin-left: 0.2rem;
}
.fav {
  display: flex;
  justify-content: space-between;
}

.fav div img {
  height: auto;
  width: auto;
}

.cards {
  background: white;
  width: 42rem;
  margin-bottom: 2.3rem;
}
.inside {
  padding: 2rem 2rem 1rem 2rem;
}
.exp {
  height: 0rem;
}
.exp p {
  background: #f5caca;
  color: rgb(255, 0, 0);
  margin: 0;
  padding: 0rem 0.2rem;
  width: fit-content;
  font-weight: bolder;
}
.card img {
  object-fit: cover;
  width: 30%;
  height: 30%;
}
.o1 {
  color: gray;
}
.card {
  display: flex;
  border-bottom: 1px solid #d3d1d1;
  padding-bottom: 0.6rem;
}
.text {
  width: 100%;
  margin-left: 1rem;
}
.text h3 {
  margin-bottom: 0;
  margin: 0;
}
.phy p {
  margin: 0rem;
}
.phy {
  display: flex;
  padding-top: 0;
  margin: 0.5rem 0;
}
.phy span {
  color: #009657;
  font-weight: 900;
}
.unit {
  display: flex;
}
.unit p {
  padding-right: 1rem;
  margin: 0rem;
}
.unit span {
  font-weight: 900;
}
.car {
  display: flex;
  margin-top: 1.5rem;
}
.car select {
  width: 100%;
  border: none;
  font-size: large;
  margin: 0;
  padding: 0;
}
.student {
  border-top: 1px solid black;
  display: flex;
  width: 100%;
}

.symbols {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.symbols img {
  opacity: 0.5;
}
.alertn {
  position: relative;
}
.alertv {
  position: relative;
}

.alertv::after {
  content: attr(count);
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
}

.alertn::after {
  content: attr(count);
  position: absolute;
  top: -5px;
  right: -10px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
}
